<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Hacker MD: Medical news from HN">
    <meta name="author" content="Alex Gurvets">
    <title>Hacker MD: Medical news from HN</title>

    <meta name="title" content="Hacker MD: Medical news from HN">
    <meta name="description" content="HN Deck: An alternate way to browse Hacker News">
    <meta name="keywords" content="hackernews, ycombinator, hacker news, hackernews api"/>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!--  Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">

    <!--  Custom CSS  -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

    <!--  Favicons  -->
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='img/apple-touch-icon.png') }}" sizes="180x180">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon-32x32.png') }}" sizes="32x32" type="image/png">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon-16x16.png') }}" sizes="16x16" type="image/png">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
</head>
<body>
<main role="main">
    <div class="container-fluid">
        <div class="row">
            {% for key, items in stories.items() %}
            <div class="col">
                <div class="header">
                    <h1 class="col-header">Hacker MD</h1>
                </div>
                <div class="stories">
                    {% for item in items %}
                    <article class="item-wrapper">
                        <div class="item">
                            <p class="title">
                                <a href="{{ item.url or item.hn_url }}" target="_blank">
                                    {{ item.title}}
                                </a>
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <small class="text-muted text-left">
                                    {{ item.score }} points by <a href="{{ item.user_url }}" target="_blank">{{ item.by
                                    }}</a> {{ item.time }}
                                </small>
                            </div>
                            <div class="d-flex justify-content-between align-items-center">
                                <small class="text-muted text-left">
                                    {% if item.descendants|int > 0 %}
                                    <a href="{{ item.hn_url }}" target="_blank">{{ item.descendants }} comments</a>
                                    {% else %}
                                    <a href="{{ item.hn_url }}" target="_blank">discuss</a>
                                    {% endif %}
                                    {% if item.domain %}| 
                                    <a href="https://news.ycombinator.com/from?site={{ item.domain }}"
                                        target="_blank">{{ item.domain }}</a>{% endif %}</small>
                            </div>
                        </div>
                    </article>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</main>
</body>
</html>
